h1, h2, h3, h4, h5, h6 {
  color: #222;
  font-family: Josefin Sans, sans-serif;
  font-weight: 400 !important;
  letter-spacing: 2px;
  text-transform: uppercase;
}

img { 
  text-align: center;
}

html {
  overflow-x: hidden;
}

html, body { 
  height: 100%; 
  margin: 0; 
  font-family: Arial, Helvetica, sans-serif;
}

a { 
  text-decoration: none;
  transition: color .2s linear;
  background: transparent;
}

.entry-title {
  font-size: 27px;
  margin: 5px 0; 
  line-height: 1.2; 
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
}

.entry-title a {
  color: #222;
}

.banner { 
  background-image: url("/images/untitled.png");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.profile-image{
  text-align: center;
  /* background-color: yellow; */
   box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
  position: absolute;
  left: 50px;
  top: 150px;
  z-index: 2; 
}

.site-title {
  font-size: 45px;
  margin: 0; 
  font-family: Josefin Sans, sans-serif;
  text-transform: uppercase;
  letter-spacing: 6px;
  line-height: 1;
  margin: 100px 0 0;
  color:#000;
  font-weight: 350 !important;  
}

.site-title a {
  color: #000;
  
}

.site-branding { 
  /* background-color: green; */
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  /* position: relative;
  top: 100px; 
  left: 2px; */
  text-align: center;
}

.site-description{
  border-top: 1px soid #111;
  /* background-color: blue; */
  margin: 88px auto 0; 
  width: 220px;
  font-size: 20px;
  color: #222; 
  font-weight: 400; 
  letter-spacing: 1px;
  line-height: 1.5;
  margin: 10px auto 0; 
  max-width: 75%;
  text-align: center;
}

.cards{ 
  /* background-color: #AF5252; */
  display: flex;
  flex-wrap: wrap; 
  justify-content: center;
  align-items: stretch; 
  margin: 150px 20px 0px 20px;

}

.card { 
  flex: 0 0 300px;
  margin: 10px ;
  border: 1px solid #ccc;
  transition: all 0.3s ease-out;
  box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
  background-color: rgb(239,234,231);
  height: 630px;
  width: 33%;

  z-index: 0;
  top: 0px;
  position: relative;
}

.card:hover {
  box-shadow: 4px 4px 12px 0 rgba(0,0,0,0.3);
  background-color: #AF5252;
  transition: all 0.2s ease-out;
  top:-10px;
}


.card img {
  max-width: 100%;
}

.card .content { 
  padding: 0 20px 20px;
}

.content p {
  text-align: center;
}